@import '@common/styles/common.less';

.ethContractVariableLogBtn {
  background-color: @primary-color !important;
  border-color: transparent !important;
  color: #fff !important;

  &:hover {
    background-color: @primary-color--hover !important;
  }

  &:active {
    border-color: transparent !important;
  }
}
